# Core
python-dotenv
# python-dotenv>=1.0.0
transformers>=4.40.0
sentence-transformers>=2.2.2
scikit-learn>=1.1.3
langchain>=0.1.14
chromadb>=0.4.22

# UI
streamlit>=1.32.0

# PDF Parsing
PyPDF2>=3.0.1

# Hugging Face auth
huggingface-hub>=0.20.3

# Optional GPU support (safe to include)
torch>=2.0.1

# Utility
tqdm>=4.66.1

openai>=1.17.0
